
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 8em 1em 8em ;
    background-color: #000;
    color: #FFF;
}
.opcoes{
    display: flex;
    gap: 10px;
    justify-content: space-around;
    width: 30em;
}
.Port-P{
    font-size: 35px;
    color: #FFF;
}
.Port-S{
    color: #00804b;
}
.links-cabecalho{
    text-decoration: none;
    color: #FFF;
    transition-duration: 0.3s;
    font-family: sans-serif;
    font-size: 18px;
    list-style-type: none;
}
.links-cabecalho:hover{
    color:rgb(139, 125, 146);
    text-decoration: underline;
    transform: translateY(2px);
}