@import url(/Components/VarCores.css);

main{
    background-color: #000;
    color: var(--cor-branca);
    display: flex;
    align-items: center;
    height: 100vh;
}
.grupo-main{
    margin-left: 14em;
    padding-top: 5em;
    margin-bottom: em;
}
.paragrafo-main{
    font-size: 27px;
}
.nome-main{
    font-size: 70px;
}
.typed{
    color: var(--cor-verde)
}.botao-main {
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid var(--cor-verde);
    background-color: var(--cor-verde);
    color: var(--cor-branca);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  
  .botao-main:hover {
    background-color: var(--cor-preta);
    color: var(--cor-verde);
  }
  
  .botao-main a {
    text-decoration: none;
    color: inherit;
  }
  
  .botao-main a:hover {
    color: var(--cor-verde);
  }
  .botao-main1{
    height: ;
  }